ANTHROPIC_API_KEY=
NIMBLE_API_KEY=
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=dealagent
SENSO_API_KEY=
CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
AGENT_WALLET_ADDRESS=
DD_API_KEY=
DD_SITE=datadoghq.com
DD_SERVICE=dealagent
DD_ENV=hackathon
